OPENAI_API_KEY=your_api_key
ANTHROPIC_API_KEY=your_api_key
OLLAMA_API_KEY=your_api_key
GOOGLE_API_KEY=your_api_key

MODEL_PROVIDER=openai
MODEL_NAME=gpt-3.5-turbo
MODEL_TEMPERATURE=0.8

#MODEL_PROVIDER=anthropic
#MODEL_NAME=claude-haiku-4-5-20251001

#MODEL_PROVIDER=ollama
#MODEL_NAME=llama3.1

#MODEL_PROVIDER=gemini
#MODEL_NAME=gemini-2.5-flash

TOOL_WEATHER_APIKEY=your_apikey
TOOL_WEATHER_URL=https://api.weatherapi.com

SERPAPI_API_KEY=your_key

DB_URL=postgresql+psycopg://{username}:{password}@localhost:5432/{db_name}
DB_USER=
DB_PASS=
DB_NAME=vectordb